<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book Show Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="table-responsive">
    <table  th:object="${book}" class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Year</th>
            <th>Desciption</th>
        </tr>
        <tr th:remove="all">
            <td>Title</td>
            <td>Author</td>
            <td>Category</td>
            <td>Year</td>
            <td>Description</td>
        </tr>
        <tr>
            <td  th:text="${book.title}"></td>
            <td  th:text="${book.author}"></td>
            <td  th:text="${book.category}"></td>
            <td  th:value="${book.dateField}"></td>
            <td  th:text="${book.description}"></td>
        </tr>
        <tr>
            <td><a href="#" th:href="@{'/books'}">Back</a></td>
            <td><a href="#" th:href="@{'/book/' + ${book.id}}">Edit</a></td>
            <td><a href="#" th:href="@{'/book/delete/' + ${book.id}}">Delete</a></td>
            <td></td>
            <td></td>
        </tr>
    </table>


</div>
</body>
</html>