<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:cursor="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Books Manager</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link th:href="@{/css/paper-dashboard.css}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link th:href="@{/css/demo.css}" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link th:href="@{/css/themify-icons.css}" rel="stylesheet">

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a th:href="@{/books}" class="simple-text">
                    Books Manager
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a th:href="@{/books}">
                        <i class="ti-book"></i>
                        <p>Books</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/book/create}">
                        <i class="ti-plus"></i>
                        <p>Add Book</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/categories}">
                        <i class="ti-folder"></i>
                        <p>Categories</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/category/create}">
                        <i class="ti-plus"></i>
                        <p>Add Category</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add new Book</h4>
                                <p class="category">fill out & click save</p>
                            </div>
                            <div class="content">
                                <form th:object="${book}" th:action="@{/book}" th:method="post">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" th:field="*{id}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" class="form-control" id="title" aria-describedby="title" th:field="*{title}" playeholder="Harry Potter and the Deathly Hollows">
                                    </div>
                                    <div class="form-group">
                                        <label for="author">Author</label>
                                        <input type="text" class="form-control" id="author" aria-describedby="author" th:field="*{author}" playeholder="Joanne K. Rowling"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select id="category" class="form-control" th:field="*{categories}" multiple="multiple">
                                            <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="date">Year</label>
                                        <input type="text" class="form-control" id="date" th:field="*{dateField}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea rows="4" type="textarea" class="form-control" id="description" th:field="*{description}" playeholder="type here ..."/></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>


    </div>
</div>


</body>

<!--   Core JS Files   -->
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script th:src="@{/js/bootstrap-checkbox-radio.js}"></script>

<!--  Charts Plugin -->
<script th:src="@{/js/chartist.min.js}"></script>

<!--  Notifications Plugin    -->
<script th:src="@{/js/bootstrap-notify.js}"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script th:src="@{/js/paper-dashboard.js}"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script th:src="@{/js/demo.js}"></script>


</html>
