<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Edit Product Details</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class = "container">
    <div th:if="${not #lists.isEmpty(books)}">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Category</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:remove="all">
                <td>123</td>
                <td>Java</td>
                <td>Max Mustermann</td>
                <td>Description</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.description}"></td>
                <td>
                    <ul>
                        <th:block th:each="category : ${categories}">
                            <li th:text="${category.name}">Item description here...</li>
                        </th:block>
                    </ul>
                </td>
                <td><a th:href="@{'/book/' + ${book.id}}" class="btn btn-default">Edit</a></td>
                <td><a th:href="@{'/book/delete/' + ${book.id}}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>