<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Students Update Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <form th:object="${student}" th:action="@{/student/{id}/update(id=${student.id})}" th:method="post">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" aria-describedby="firstName" th:field="${student.firstName}">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" aria-describedby="lastName" th:field="${student.lastName}"/>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <!--hierm uss die menge der möglichen geschlechter(male, female) geladen werden --->
            <select class="form-control" id="gender"  th:value="${student.gender}">
                <option th:value="${student.gender}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="martikelnumber">Password</label>
            <input type="number" class="form-control" id="martikelnumber" th:field="${student.matrikelnumber}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>